<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>

    <body>

        <div>
            <h1>Weather Conditions</h1>
            <p th:text="${weather.getDescription()}">Description</p>
            <h2>Temperature</h2>
            <p th:text="${weather.getTemperature()}">Temperature</p>
            <h2>Feels Like</h2>
            <p th:text="${weather.getFeelsLike()}">Feels Like</p>
            <h2>Wind Speed</h2>
            <p th:text="${weather.getWindSpeed()}"></p>
        </div>

    </body>

</html>